<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Plumbing - Plumber and Repair Services Maintenance HTML Template</title>
<!-- Stylesheets -->
<link href="/static/plumber/assets/css/bootstrap.css" rel="stylesheet">
<link href="/static/plumber/assets/css/style.css" rel="stylesheet">
<!-- Responsive File -->
<link href="/static/plumber/assets/css/responsive.css" rel="stylesheet">
<!-- Color File -->
<link href="/static/plumber/assets/css/color.css" rel="stylesheet">

<link rel="shortcut icon" href="/static/plumber/assets/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/static/plumber/assets/images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="loader-wrap">
        <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>        
        <div class="layer layer-three"><span class="overlay"></span></div>        
    </div>

    <!-- Main Header -->
    <header class="main-header header-style-one">

        <!-- Header Top -->
        <div class="header-top">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="left-column">
                       <div class="text">Best Global plumbing Services Company</div>
                    </div>
                    <div class="right-column">
                        <div class="quote-btn"><a href="#"><i class="far fa-list-alt"></i>Get a Free Quote</a></div>
                        <div class="social-links">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="auto-container">
                <div class="inner-container">
                    <!--Logo-->
                    <div class="logo-box">
                        <div class="logo"><a href="index.html"><img src="/static/plumber/assets/images/logo.png" alt=""></a></div>
                    </div>
                    <div class="right-column">
                        <div class="contact-info">
                            <div class="single-info">
                                <div class="icon"><span class="flaticon-gps"></span></div>
                                <div class="content">
                                    <h5>Dallas, TX USA</h5>
                                    <div class="text">2912  Carolyns Circle</div>
                                </div>
                            </div>
                            <div class="single-info">
                                <div class="icon"><span class="flaticon-comment"></span></div>
                                <div class="content">
                                    <h5>Send us Email</h5>
                                    <div class="text"><a href="mailto:info@example.com">info@example.com</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="search-btn"><button type="button" class="theme-btn search-toggler"><span class="far fa-search"></span></button></div>
                    </div>                        
                </div>
            </div>
        </div>
        <!--End Header Upper-->

        <!-- Main Menu -->
        <div class="main-menu">
            <div class="auto-container">
                <div class="inner-container">
                    <!--Nav Box-->
                    <div class="nav-outer">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler"><img src="/static/plumber/assets/images/icons/icon-bar.png" alt=""></div>

                      <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation">
                                    <li class="dropdown"><a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">Home One</a></li>
                                            <li><a href="index-2.html">Home Two</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li class="dropdown"><a href="#">Services</a>
                                        <ul>
                                              <li><a href="service-1.html">Service 1</a></li>
                                            <li><a href="service-2.html">Service 2</a></li>
                                            <li><a href="Industrial%20Plumber.html">Industrial Plumber</a></li>
                                            <li><a href="Lekage%20Pipe%20Repair.html">Lekage Pipe Repair</a></li>
                                            <li><a href="Washing%20Pipe%20Repair.html">Washing Pipe Repair</a></li>
                                            <li><a href="Kitchen%20Inspection.html">Kitchen Inspection</a></li>
                                            <li><a href="Toilet%20Pipe%20Cleaning.html">Toilet Pipe Cleaning</a></li>
                                            <li><a href="Gas%20Pipe%20Leakage.html">Gas Pipe Leakage</a></li>
                                            <li><a href="Kitchen%20Pipe.html">Kitchen Pipe</a></li>
                                            <li><a href="Commode%20Fixing.html">Commode Fixing</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="portfolio.html">Portfolio</a>
                                        <ul>
                                            <li><a href="team.html">Our Team</a></li>
                                            <li><a href="portfolio.html">Portfolio</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">News</a>
                                        <ul>
                                            <li><a href="blog.html">Blog Grid</a></li>
                                            <li><a href="blog-2.html">Blog Classic</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        <div class="contact-info">
                            <div class="icon"><i class="flaticon-phone"></i></div>
                            <div>
                                <h6>plumbing Services, Call us</h6>
                                <h4><a href="tel:+1(258)985703">+1 (258) 985-703</a></h4>
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sticky Header  -->
        <div class="sticky-header main-menu">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="nav-outer">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <!--Keep This Empty / Menu will come through Javascript-->
                        </nav><!-- Main Menu End-->
                        <!-- Main Menu End-->
                        <button type="button" class="theme-btn search-toggler"><span class="far fa-search"></span></button>
                    </div>
                </div>
            </div>
        </div><!-- End Sticky Menu -->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-remove"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="/static/plumber/assets/images/logo-two.png" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                <!--Social Links-->
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->

        <div class="nav-overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div>
    </header>
    <!-- End Main Header -->
    
    <!--Search Popup-->
    <div id="search-popup" class="search-popup">
        <div class="close-search theme-btn"><span class="flaticon-remove"></span></div>
        <div class="popup-inner">
            <div class="overlay-layer"></div>
            <div class="search-form">
                <form method="post" action="#">
                    <div class="form-group">
                        <fieldset>
                            <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                            <input type="submit" value="Search Now!" class="theme-btn">
                        </fieldset>
                    </div>
                </form>
                <br>
                <h3>Recent Search Keywords</h3>
                <ul class="recent-searches">
                    <li><a href="#">Finance</a></li>
                    <li><a href="#">Idea</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Growth</a></li>
                    <li><a href="#">Plan</a></li>
                </ul>
            </div>
            
        </div>
    </div>

    <!-- Page Title -->
    <section class="page-title" style="background-image: url('/static/plumber/assets/images/background/bg-3.jpg');">
        <div class="auto-container">
            <div class="content-box">
                <div class="content-wrapper">
                    <div class="title">
                        <h1>Kitchen Pipe</h1>
                    </div>
                    <ul class="bread-crumb">
                        <li><a href="index.html">Home</a></li>
                        <li>Services</li>
                        <li>Kitchen Pipe</li>
                    </ul>
                </div>                    
            </div>
        </div>
    </section>
    <!-- Page Title -->

 <!-- Service Details -->
    <section class="services-details">
        <div class="auto-container">
            <div class="row">
                <div class="col-lg-8 content-side order-lg-2">
                    <div class="image mb-40"><img src="/static/plumber/assets/images/resource/image-22.jpg" alt=""></div>
                    <h2>Kitchen Pipe</h2>
                    <div class="text">
                        <p>Magna aliqa enim sed ipsum nisi ain veniam quis nostrul aliqua enim lore ipsum gui dolor sit amet tempor. Lorem ipsum dolor sit ametys consectetur adipisicing elit sed eiusmod tempor incididunt ut labore dolore magna aliq sed ipsum ua dolor exercitation ullamco. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed done eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum doloreu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem.</p>
                    </div>
                    <div class="row mb-20">
                        <div class="col-md-7">
                            <div class="content mb-30">
                                <div class="icon-box">
                                    <div class="icon"><span class="fas fa-check"></span></div>
                                    <div>
                                        <h4>All Plubmbing-Top Solutions</h4>
                                        <div class="text">Incididunt ut labore et dolore magna aliqua ut enim <br> veniam quis nostrud exercitation ullamco.</div>
                                    </div>
                                </div>
                                <div class="icon-box">
                                    <div class="icon"><span class="fas fa-check"></span></div>
                                    <div>
                                        <h4>Foremost plumbing Contractors</h4>
                                        <div class="text">Incididunt ut labore et dolore magna aliqua ut enim <br> veniam quis nostrud exercitation ullamco.</div>
                                    </div>
                                </div>
                                <div class="icon-box">
                                    <div class="icon"><span class="fas fa-check"></span></div>
                                    <div>
                                        <h4>Fair Installation Pricing</h4>
                                        <div class="text">Incididunt ut labore et dolore magna aliqua ut enim <br> veniam quis nostrud exercitation ullamco.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="image mb-30"><img src="/static/plumber/assets/images/resource/image-23.jpg" alt=""></div>
                        </div>
                    </div>
                    <div class="testimonial">
                        <h3>Service Testimonials</h3>
                        <div class="row">
                            <div class="theme_carousel owl-theme owl-carousel" data-options='{"loop": true, "margin": 0, "autoheight":true, "lazyload":true, "nav": true, "dots": true, "autoplay": true, "autoplayTimeout": 6000, "smartSpeed": 300, "responsive":{ "0" :{ "items": "1" }, "600" :{ "items" : "2" }, "768" :{ "items" : "2" } , "992":{ "items" : "2" }, "1200":{ "items" : "2" }}}'>
                                <div class="testimonial-block">
                                    <div class="inner-box">
                                        <div class="author-box">
                                            <div class="author-thumb"><img src="/static/plumber/assets/images/resource/author-1.jpg" alt=""></div>
                                            <div class="content">
                                                <h4>Nick Jones</h4>
                                                <div class="designation">Building Owner</div>
                                                <div class="rating">
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text">“Integer lobortis sem consequat cons <br> nulla sed viverra ut lorem dap benda <br> imperdiets aliquam era volutpat dolor <br> pariatur excepteur sint.”</div>
                                    </div>
                                </div>
                                <div class="testimonial-block">
                                    <div class="inner-box">
                                        <div class="author-box">
                                            <div class="author-thumb"><img src="/static/plumber/assets/images/resource/author-2.jpg" alt=""></div>
                                            <div class="content">
                                                <h4>James Thomas</h4>
                                                <div class="designation">Building Owner</div>
                                                <div class="rating">
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text">“Integer lobortis sem consequat cons <br> nulla sed viverra ut lorem dap benda <br> imperdiets aliquam era volutpat dolor <br> pariatur excepteur sint.”</div>
                                    </div>
                                </div>
                                <div class="testimonial-block">
                                    <div class="inner-box">
                                        <div class="author-box">
                                            <div class="author-thumb"><img src="/static/plumber/assets/images/resource/author-3.jpg" alt=""></div>
                                            <div class="content">
                                                <h4>Truna Mathew</h4>
                                                <div class="designation">Building Owner</div>
                                                <div class="rating">
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text">“Integer lobortis sem consequat cons <br> nulla sed viverra ut lorem dap benda <br> imperdiets aliquam era volutpat dolor <br> pariatur excepteur sint.”</div>
                                    </div>
                                </div>
                                <div class="testimonial-block">
                                    <div class="inner-box">
                                        <div class="author-box">
                                            <div class="author-thumb"><img src="/static/plumber/assets/images/resource/author-1.jpg" alt=""></div>
                                            <div class="content">
                                                <h4>Nick Jones</h4>
                                                <div class="designation">Building Owner</div>
                                                <div class="rating">
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text">“Integer lobortis sem consequat cons <br> nulla sed viverra ut lorem dap benda <br> imperdiets aliquam era volutpat dolor <br> pariatur excepteur sint.”</div>
                                    </div>
                                </div>
                                <div class="testimonial-block">
                                    <div class="inner-box">
                                        <div class="author-box">
                                            <div class="author-thumb"><img src="/static/plumber/assets/images/resource/author-2.jpg" alt=""></div>
                                            <div class="content">
                                                <h4>James Thomas</h4>
                                                <div class="designation">Building Owner</div>
                                                <div class="rating">
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text">“Integer lobortis sem consequat cons <br> nulla sed viverra ut lorem dap benda <br> imperdiets aliquam era volutpat dolor <br> pariatur excepteur sint.”</div>
                                    </div>
                                </div>
                                <div class="testimonial-block">
                                    <div class="inner-box">
                                        <div class="author-box">
                                            <div class="author-thumb"><img src="/static/plumber/assets/images/resource/author-3.jpg" alt=""></div>
                                            <div class="content">
                                                <h4>Truna Mathew</h4>
                                                <div class="designation">Building Owner</div>
                                                <div class="rating">
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                    <span class="fas fa-star"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="text">“Integer lobortis sem consequat cons <br> nulla sed viverra ut lorem dap benda <br> imperdiets aliquam era volutpat dolor <br> pariatur excepteur sint.”</div>
                                    </div>
                                </div>
                            </div>
                        </div>                            
                    </div>
                        
                </div>
                <aside class="col-lg-4 sidebar">
                    <div class="service-sidebar">
                        <div class="widget widget_categories_two">
                            <div class="widget-content">
                                <ul>
                                    <li><a href="Industrial%20Plumber.html">Industrial Plumber</a></li>
                                    <li><a href="Lekage%20Pipe%20Repair.html">Lekage Pipe Repair</a></li>
                                    <li class="current"><a href="Washing%20Pipe%20Repair.html">Washing Pipe Repair</a></li>
                                    <li><a href="Kitchen%20Inspection.html">Kitchen Inspection</a></li>
                                    <li><a href="Toilet%20Pipe%20Cleaning.html">Toilet Pipe Cleaning</a></li>
                                    <li><a href="Gas%20Pipe%20Leakage.html">Gas Pipe Leakage</a></li>
                                    <li><a href="Kitchen%20Pipe.html">Kitchen Pipe</a></li>
                                    <li><a href="Commode%20Fixing.html">Commode Fixing</a></li>
                                </ul>
                            </div>
                        </div>                        
                        <div class="widget contact-widget style-two">
                            <div class="widget-content">
                                <h3 class="widget-title">Get in touch</h3>
                                <ul class="contact-info">
                                    <li>
                                        <div class="icon"><span class="flaticon-gps"></span></div>
                                        <div class="text">2912  Carolyns Circle <br>Dallas TX - 75234</div>
                                    </li>
                                    <li>
                                        <div class="icon"><span class="flaticon-phone"></span></div>
                                        <div class="text">
                                            <a href="tel:1(258)985-703">1 (258) 985-703</a> <br>
                                            <a href="tel:1(258)985-706">1 (258) 985-706</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon"><span class="flaticon-comment"></span></div>
                                        <div class="text">
                                            <a href="mailto:info@example.com">info@example.com</a> <br>
                                            <a href="mailto:info@my-domain.com">info@my-domain.com</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget widget_brochure">
                            <div class="widget-content">                                
                                <div class="single-brochure"><div class="icon"><img src="/static/plumber/assets/images/icons/icon-29.png" alt=""></div><a href="#">Download Brochure</a></div>
                                <div class="single-brochure"><div class="icon"><img src="/static/plumber/assets/images/icons/icon-30.png" alt=""></div><a href="#">About Company</a></div>
                            </div>
                        </div>
                        <div class="widget widget_contact-form">
                            <h3 class="widget-title">Request a Free Quote</h3>
                            <div class="text">Fill-in the form & send for a quick estimate</div>
                            <form action="#" class="">
                                <div class="form-group">
                                    <input placeholder="name" name="name" type="text">
                                </div>
                                <div class="form-group">
                                    <input placeholder="Email"  name="email" type="email">
                                </div>
                                <div class="form-group">
                                    <input placeholder="Phone" name="phone" type="text">
                                </div>
                                <div class="form-group">
                                   <select class="selectpicker form-control" name="subject">
                                        <option value="*">Subject / Discuss About Service</option>
                                        <option value=".category-1">Industrial Plumber</option>
                                        <option value=".category-2">Lekage Pipe Repair</option>
                                        <option value=".category-3">Washing Pipe Repair</option>
                                        <option value=".category-4">Kitchen Inspection</option>
                                             <option value=".category-2">Toilet Pipe Cleaning</option>
                                        <option value=".category-3">Gas Pipe Leakage</option>
                                        <option value=".category-4">Kitchen Pipe</option>
                                          <option value=".category-4">Commode Fixing</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="theme-btn btn-style-one w-100"><span>Submit Now</span></button>
                                </div>
                            </form>

                            
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>

    <!-- CTA Section Two -->
    <section class="cta-section-two">
        <div class="auto-container">
            <div class="wrapper-box">
                <h3>Need Roof Service & Maintenance Or Have <br> Any Questions? We are Ready to Help!</h3>
                <div class="link-btn"><a href="#" class="theme-btn btn-style-one style-three"><span>Learn More</span></a></div>
                <div class="icon"><img src="/static/plumber/assets/images/icons/icon-12.png" alt=""></div>
            </div>
        </div>
    </section>

    
     <!-- Main Footer -->
    <footer class="main-footer">
        <div class="auto-container">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row clearfix">
                    
                    
                    <!--Column-->
                    <div class="column col-lg-3 col-md-6">
                        <div class="widget links-widget">
                            <h3 class="widget-title">Our Services</h3>
                            <div class="widget-content">
                                <ul>
                                      <li><a href="Industrial%20Plumber.html">Industrial Plumber</a></li>
                                            <li><a href="Lekage%20Pipe%20Repair.html">Lekage Pipe Repair</a></li>
                                            <li><a href="Washing%20Pipe%20Repair.html">Washing Pipe Repair</a></li>
                                            <li><a href="Kitchen%20Inspection.html">Kitchen Inspection</a></li>
                                            <li><a href="Toilet%20Pipe%20Cleaning.html">Toilet Pipe Cleaning</a></li>
                                            <li><a href="Gas%20Pipe%20Leakage.html">Gas Pipe Leakage</a></li>
                                            <li><a href="Kitchen%20Pipe.html">Kitchen Pipe</a></li>
                                            <li><a href="Commode%20Fixing.html">Commode Fixing</a></li>
                                </ul>                                        
                            </div>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="column col-lg-3 col-md-6">
                        <div class="widget links-widget">
                            <h3 class="widget-title">Quick links</h3>
                            <div class="widget-content">
                                <ul>
                                    <li><a href="index.html">Our Locations</a></li>
                                    <li><a href="#">About Company</a></li>
                                    <li><a href="#">Projects Gallery</a></li>
                                    <li><a href="#">Terms of Payment</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>                                        
                            </div>
                        </div>
                    </div>
                    
                    <!--Column-->
                    <div class="column col-lg-3 col-md-6">
                        <div class="widget contact-widget">
                            <h3 class="widget-title">Get in touch</h3>
                            <div class="widget-content">
                                <ul class="contact-info">
                                    <li>
                                        <div class="icon"><span class="flaticon-gps"></span></div>
                                        <div class="text">2912  Carolyns Circle <br>Dallas TX - 75234</div>
                                    </li>
                                    <li>
                                        <div class="icon"><span class="flaticon-phone"></span></div>
                                        <div class="text">
                                            <a href="tel:1(258)985-703">1 (258) 985-703</a> <br>
                                            <a href="tel:1(258)985-706">1 (258) 985-706</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon"><span class="flaticon-comment"></span></div>
                                        <div class="text">
                                            <a href="mailto:info@example.com">info@example.com</a> <br>
                                             <a href="mailto:info@example.com">info@example.com</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        <!--Column-->
                    <div class="column col-lg-3 col-md-6">
                        <div class="widget about-widget">
                            <div class="logo"><a href="index.html"><img src="/static/plumber/assets/images/logo-two.png" alt=""></a></div>
                            <div class="text">Magna aliqa enim sed ipsum nisi ainy <br> veniam quis nostrul aliqua enim lorem <br> ipsum gui dolor sit amet tempor. </div>
                            <ul class="social-links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="copyright">
                     <div class="text">Copyright <span id="copyright-year"></span>  All rights reserved.</div>
                </div>
            </div>
        </div>
    </footer>
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-right-arrow"></span></div>

<script src="/static/plumber/assets/js/jquery.js"></script>
<script src="/static/plumber/assets/js/popper.min.js"></script>
<script src="/static/plumber/assets/js/bootstrap.min.js"></script>
<script src="/static/plumber/assets/js/bootstrap-select.min.js"></script>
<script src="/static/plumber/assets/js/jquery.fancybox.js"></script>
<script src="/static/plumber/assets/js/isotope.js"></script>
<script src="/static/plumber/assets/js/owl.js"></script>
<script src="/static/plumber/assets/js/appear.js"></script>
<script src="/static/plumber/assets/js/wow.js"></script>
<script src="/static/plumber/assets/js/lazyload.js"></script>
<script src="/static/plumber/assets/js/scrollbar.js"></script>
<script src="/static/plumber/assets/js/TweenMax.min.js"></script>
<script src="/static/plumber/assets/js/swiper.min.js"></script>

<script src="/static/plumber/assets/js/script.js"></script>
<script src="/static/plumber/assets/js/date.js"></script>



</body>

</html>













