<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<title>Plumbing - Plumber and Repair Services Maintenance HTML Template</title>
<!-- Stylesheets -->
<link href="/static/plumber/assets/css/bootstrap.css" rel="stylesheet">
<link href="/static/plumber/assets/css/style.css" rel="stylesheet">
<!-- Responsive File -->
<link href="/static/plumber/assets/css/responsive.css" rel="stylesheet">
<!-- Color File -->
<link href="/static/plumber/assets/css/color.css" rel="stylesheet">

<link rel="shortcut icon" href="/static/plumber/assets/images/favicon.png" type="image/x-icon">
<link rel="icon" href="/static/plumber/assets/images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">


</head>

<body>

<div class="page-wrapper">
    <!-- Preloader -->
    <div class="loader-wrap">
        <div class="preloader"><div class="preloader-close">Preloader Close</div></div>
        <div class="layer layer-one"><span class="overlay"></span></div>
        <div class="layer layer-two"><span class="overlay"></span></div>        
        <div class="layer layer-three"><span class="overlay"></span></div>        
    </div>

    <!-- Main Header -->
    <header class="main-header header-style-one">

        <!-- Header Top -->
        <div class="header-top">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="left-column">
                    <div class="text">Best Global plumbing Services Company</div>
                    </div>
                    <div class="right-column">
                        <div class="quote-btn"><a href="#"><i class="far fa-list-alt"></i>Get a Free Quote</a></div>
                        <div class="social-links">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header Upper -->
        <div class="header-upper">
            <div class="auto-container">
                <div class="inner-container">
                    <!--Logo-->
                    <div class="logo-box">
                        <div class="logo"><a href="index.html"><img src="/static/plumber/assets/images/logo.png" alt=""></a></div>
                    </div>
                    <div class="right-column">
                        <div class="contact-info">
                            <div class="single-info">
                                <div class="icon"><span class="flaticon-gps"></span></div>
                                <div class="content">
                                    <h5>Dallas, TX USA</h5>
                                    <div class="text">2912  Carolyns Circle</div>
                                </div>
                            </div>
                            <div class="single-info">
                                <div class="icon"><span class="flaticon-comment"></span></div>
                                <div class="content">
                                    <h5>Send us Email</h5>
                                    <div class="text"><a href="mailto:info@example.com">info@example.com</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="search-btn"><button type="button" class="theme-btn search-toggler"><span class="far fa-search"></span></button></div>
                    </div>                        
                </div>
            </div>
        </div>
        <!--End Header Upper-->

        <!-- Main Menu -->
        <div class="main-menu">
            <div class="auto-container">
                <div class="inner-container">
                    <!--Nav Box-->
                    <div class="nav-outer">
                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler"><img src="/static/plumber/assets/images/icons/icon-bar.png" alt=""></div>

                        <!-- Main Menu -->
                        <nav class="main-menu navbar-expand-md navbar-light">
                            <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                <ul class="navigation">
                                    <li class="dropdown"><a href="#">Home</a>
                                        <ul>
                                            <li><a href="index.html">Home One</a></li>
                                            <li><a href="index-2.html">Home Two</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="about.html">About Us</a></li>
                                    <li class="dropdown"><a href="#">Services</a>
                                        <ul>
                                              <li><a href="service-1.html">Service 1</a></li>
                                            <li><a href="service-2.html">Service 2</a></li>
                                            <li><a href="Industrial%20Plumber.html">Industrial Plumber</a></li>
                                            <li><a href="Lekage%20Pipe%20Repair.html">Lekage Pipe Repair</a></li>
                                            <li><a href="Washing%20Pipe%20Repair.html">Washing Pipe Repair</a></li>
                                            <li><a href="Kitchen%20Inspection.html">Kitchen Inspection</a></li>
                                            <li><a href="Toilet%20Pipe%20Cleaning.html">Toilet Pipe Cleaning</a></li>
                                            <li><a href="Gas%20Pipe%20Leakage.html">Gas Pipe Leakage</a></li>
                                            <li><a href="Kitchen%20Pipe.html">Kitchen Pipe</a></li>
                                            <li><a href="Commode%20Fixing.html">Commode Fixing</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="portfolio.html">Portfolio</a>
                                        <ul>
                                            <li><a href="team.html">Our Team</a></li>
                                            <li><a href="portfolio.html">Portfolio</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown"><a href="#">News</a>
                                        <ul>
                                            <li><a href="blog.html">Blog Grid</a></li>
                                            <li><a href="blog-2.html">Blog Classic</a></li>
                                            <li><a href="blog-details.html">Blog Details</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!-- Main Menu End-->
                        <div class="contact-info">
                            <div class="icon"><i class="flaticon-phone"></i></div>
                            <div>
                                <h6>plumbing Services, Call us</h6>
                                <h4><a href="tel:+1(258)985703">+1 (258) 985-703</a></h4>
                            </div>                                
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sticky Header  -->
        <div class="sticky-header main-menu">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="nav-outer">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <!--Keep This Empty / Menu will come through Javascript-->
                        </nav><!-- Main Menu End-->
                        <!-- Main Menu End-->
                        <button type="button" class="theme-btn search-toggler"><span class="far fa-search"></span></button>
                    </div>
                </div>
            </div>
        </div><!-- End Sticky Menu -->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-remove"></span></div>
            
            <nav class="menu-box">
                <div class="nav-logo"><a href="index.html"><img src="/static/plumber/assets/images/logo-two.png" alt="" title=""></a></div>
                <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                <!--Social Links-->
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="#"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                        <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->

        <div class="nav-overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div>
    </header>
    <!-- End Main Header -->
    
    <!--Search Popup-->
    <div id="search-popup" class="search-popup">
        <div class="close-search theme-btn"><span class="flaticon-remove"></span></div>
        <div class="popup-inner">
            <div class="overlay-layer"></div>
            <div class="search-form">
                <form method="post" action="#">
                    <div class="form-group">
                        <fieldset>
                            <input type="search" class="form-control" name="search-input" value="" placeholder="Search Here" required >
                            <input type="submit" value="Search Now!" class="theme-btn">
                        </fieldset>
                    </div>
                </form>
                <br>
                <h3>Recent Search Keywords</h3>
                <ul class="recent-searches">
                    <li><a href="#">Finance</a></li>
                    <li><a href="#">Idea</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Growth</a></li>
                    <li><a href="#">Plan</a></li>
                </ul>
            </div>            
        </div>
    </div>

    <!-- Page Title -->
    <section class="page-title" style="background-image: url('/static/plumber/assets/images/background/bg-3.jpg');">
        <div class="auto-container">
            <div class="content-box">
                <div class="content-wrapper">
                    <div class="title">
                        <h1>Our Services</h1>
                    </div>
                    <ul class="bread-crumb">
                        <li><a href="index.html">Home</a></li>
                        <li>Services</li>
                    </ul>
                </div>                    
            </div>
        </div>
    </section>
    <!-- Page Title -->

    <!-- Features Section Two -->
    <section class="features-section-two style-two">
        <div class="auto-container">
            <div class="single-block">
                <div class="row">
                    <div class="col-lg-6 image-column">
                        <div class="image"><img src="/static/plumber/assets/images/resource/image-1.jpg" alt=""></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content">
                            <div class="sec-title">
                                <div class="sub-title">Dependable & Sincere Company</div>
                                <h2><strong>Industrial Plumber</strong></h2>
                                <div class="text">Magna aliqa enim sed ipsum nisi ainy veniam quis nostrul aliqua enim lorem ipsum gui dolor sit amet tempor. Lorem ipsum dolor sit ametys consecteturadipisicing elit, sed eiusmod tempor incididunt ut labore dolore magna aliq sed ipsum ua dolor exercitation ullamco.</div>
                                <div class="link-btn"><a href="#" class="theme-btn btn-style-one style-two"><span>Learn More</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-block">
                <div class="row">
                    <div class="col-lg-6 image-column">
                        <div class="image"><img src="/static/plumber/assets/images/resource/image-2.jpg" alt=""></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content">
                            <div class="sec-title">
                                <div class="sub-title">Dependable & Sincere Company</div>
                                <h2><strong>Lekage Pipe Repair</strong></h2>
                                <div class="text">Magna aliqa enim sed ipsum nisi ainy veniam quis nostrul aliqua enim lorem ipsum gui dolor sit amet tempor. Lorem ipsum dolor sit ametys consecteturadipisicing elit, sed eiusmod tempor incididunt ut labore dolore magna aliq sed ipsum ua dolor exercitation ullamco.</div>
                                <div class="link-btn"><a href="#" class="theme-btn btn-style-one style-two"><span>Learn More</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-block">
                <div class="row">
                    <div class="col-lg-6 image-column">
                        <div class="image"><img src="/static/plumber/assets/images/resource/image-3.jpg" alt=""></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content">
                            <div class="sec-title">
                                <div class="sub-title">Dependable & Sincere Company</div>
                                <h2><strong>Washing Pipe Repair</strong></h2>
                                <div class="text">Magna aliqa enim sed ipsum nisi ainy veniam quis nostrul aliqua enim lorem ipsum gui dolor sit amet tempor. Lorem ipsum dolor sit ametys consecteturadipisicing elit, sed eiusmod tempor incididunt ut labore dolore magna aliq sed ipsum ua dolor exercitation ullamco.</div>
                                <div class="link-btn"><a href="#" class="theme-btn btn-style-one style-two"><span>Learn More</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-block">
                <div class="row">
                    <div class="col-lg-6 image-column">
                        <div class="image"><img src="/static/plumber/assets/images/resource/image-4.jpg" alt=""></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content">
                            <div class="sec-title">
                                <div class="sub-title">Dependable & Sincere Company</div>
                                <h2><strong>Kitchen Inspection</strong></h2>
                                <div class="text">Magna aliqa enim sed ipsum nisi ainy veniam quis nostrul aliqua enim lorem ipsum gui dolor sit amet tempor. Lorem ipsum dolor sit ametys consecteturadipisicing elit, sed eiusmod tempor incididunt ut labore dolore magna aliq sed ipsum ua dolor exercitation ullamco.</div>
                                <div class="link-btn"><a href="#" class="theme-btn btn-style-one style-two"><span>Learn More</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-block">
                <div class="row">
                    <div class="col-lg-6 image-column">
                        <div class="image"><img src="/static/plumber/assets/images/resource/image-5.jpg" alt=""></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content">
                            <div class="sec-title">
                                <div class="sub-title">Dependable & Sincere Company</div>
                                <h2><strong>Toilet Pipe Cleaning</strong></h2>
                                <div class="text">Magna aliqa enim sed ipsum nisi ainy veniam quis nostrul aliqua enim lorem ipsum gui dolor sit amet tempor. Lorem ipsum dolor sit ametys consecteturadipisicing elit, sed eiusmod tempor incididunt ut labore dolore magna aliq sed ipsum ua dolor exercitation ullamco.</div>
                                <div class="link-btn"><a href="#" class="theme-btn btn-style-one style-two"><span>Learn More</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="single-block">
                <div class="row">
                    <div class="col-lg-6 image-column">
                        <div class="image"><img src="/static/plumber/assets/images/resource/image-6.jpg" alt=""></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content">
                            <div class="sec-title">
                                <div class="sub-title">Dependable & Sincere Company</div>
                                <h2><strong>Gas Pipe Leakage</strong></h2>
                                <div class="text">Magna aliqa enim sed ipsum nisi ainy veniam quis nostrul aliqua enim lorem ipsum gui dolor sit amet tempor. Lorem ipsum dolor sit ametys consecteturadipisicing elit, sed eiusmod tempor incididunt ut labore dolore magna aliq sed ipsum ua dolor exercitation ullamco.</div>
                                <div class="link-btn"><a href="#" class="theme-btn btn-style-one style-two"><span>Learn More</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

             <div class="single-block">
                <div class="row">
                    <div class="col-lg-6 image-column">
                        <div class="image"><img src="/static/plumber/assets/images/resource/image-7.jpg" alt=""></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content">
                            <div class="sec-title">
                                <div class="sub-title">Dependable & Sincere Company</div>
                                <h2><strong>Kitchen Pipe</strong></h2>
                                <div class="text">Magna aliqa enim sed ipsum nisi ainy veniam quis nostrul aliqua enim lorem ipsum gui dolor sit amet tempor. Lorem ipsum dolor sit ametys consecteturadipisicing elit, sed eiusmod tempor incididunt ut labore dolore magna aliq sed ipsum ua dolor exercitation ullamco.</div>
                                <div class="link-btn"><a href="#" class="theme-btn btn-style-one style-two"><span>Learn More</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



             <div class="single-block">
                <div class="row">
                    <div class="col-lg-6 image-column">
                        <div class="image"><img src="/static/plumber/assets/images/resource/image-8.jpg" alt=""></div>
                    </div>
                    <div class="col-lg-6">
                        <div class="content">
                            <div class="sec-title">
                                <div class="sub-title">Dependable & Sincere Company</div>
                                <h2><strong>Commode Fixing</strong></h2>
                                <div class="text">Magna aliqa enim sed ipsum nisi ainy veniam quis nostrul aliqua enim lorem ipsum gui dolor sit amet tempor. Lorem ipsum dolor sit ametys consecteturadipisicing elit, sed eiusmod tempor incididunt ut labore dolore magna aliq sed ipsum ua dolor exercitation ullamco.</div>
                                <div class="link-btn"><a href="#" class="theme-btn btn-style-one style-two"><span>Learn More</span></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

           <!-- CTA Section -->
    <section class="cta-section sp-two">
        <div class="auto-container">
            <div class="wrapper-box">
                <div class="logo"><img src="/static/plumber/assets/images/logo.png" alt=""></div>
                <h2>Need Any Plubmber Services<br>? Call Us : +123-9666 1985 </h2>
                <div class="link-btn">
                    <a href="#" class="theme-btn btn-style-one style-two"><span>Get In Touch</span></a>
                </div>
            </div>
        </div>
    </section>

    
     <!-- Main Footer -->
    <footer class="main-footer">
        <div class="auto-container">
            <!--Widgets Section-->
            <div class="widgets-section">
                <div class="row clearfix">
                    
                    
                    <!--Column-->
                    <div class="column col-lg-3 col-md-6">
                        <div class="widget links-widget">
                            <h3 class="widget-title">Our Services</h3>
                            <div class="widget-content">
                                <ul>
                                      <li><a href="Industrial%20Plumber.html">Industrial Plumber</a></li>
                                            <li><a href="Lekage%20Pipe%20Repair.html">Lekage Pipe Repair</a></li>
                                            <li><a href="Washing%20Pipe%20Repair.html">Washing Pipe Repair</a></li>
                                            <li><a href="Kitchen%20Inspection.html">Kitchen Inspection</a></li>
                                            <li><a href="Toilet%20Pipe%20Cleaning.html">Toilet Pipe Cleaning</a></li>
                                            <li><a href="Gas%20Pipe%20Leakage.html">Gas Pipe Leakage</a></li>
                                            <li><a href="Kitchen%20Pipe.html">Kitchen Pipe</a></li>
                                            <li><a href="Commode%20Fixing.html">Commode Fixing</a></li>
                                </ul>                                        
                            </div>
                        </div>
                    </div>

                    <!--Column-->
                    <div class="column col-lg-3 col-md-6">
                        <div class="widget links-widget">
                            <h3 class="widget-title">Quick links</h3>
                            <div class="widget-content">
                                <ul>
                                    <li><a href="index.html">Our Locations</a></li>
                                    <li><a href="#">About Company</a></li>
                                    <li><a href="#">Projects Gallery</a></li>
                                    <li><a href="#">Terms of Payment</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">Contact us</a></li>
                                </ul>                                        
                            </div>
                        </div>
                    </div>
                    
                    <!--Column-->
                    <div class="column col-lg-3 col-md-6">
                        <div class="widget contact-widget">
                            <h3 class="widget-title">Get in touch</h3>
                            <div class="widget-content">
                                <ul class="contact-info">
                                    <li>
                                        <div class="icon"><span class="flaticon-gps"></span></div>
                                        <div class="text">2912  Carolyns Circle <br>Dallas TX - 75234</div>
                                    </li>
                                    <li>
                                        <div class="icon"><span class="flaticon-phone"></span></div>
                                        <div class="text">
                                            <a href="tel:1(258)985-703">1 (258) 985-703</a> <br>
                                            <a href="tel:1(258)985-706">1 (258) 985-706</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon"><span class="flaticon-comment"></span></div>
                                        <div class="text">
                                            <a href="mailto:info@example.com">info@example.com</a> <br>
                                             <a href="mailto:info@example.com">info@example.com</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                        <!--Column-->
                    <div class="column col-lg-3 col-md-6">
                        <div class="widget about-widget">
                            <div class="logo"><a href="index.html"><img src="/static/plumber/assets/images/logo-two.png" alt=""></a></div>
                            <div class="text">Magna aliqa enim sed ipsum nisi ainy <br> veniam quis nostrul aliqua enim lorem <br> ipsum gui dolor sit amet tempor. </div>
                            <ul class="social-links">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom -->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="copyright">
                   <div class="text">Copyright <span id="copyright-year"></span>  All rights reserved.</div>
                </div>
            </div>
        </div>
    </footer>
	
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="flaticon-right-arrow"></span></div>

<script src="/static/plumber/assets/js/jquery.js"></script>
<script src="/static/plumber/assets/js/popper.min.js"></script>
<script src="/static/plumber/assets/js/bootstrap.min.js"></script>
<script src="/static/plumber/assets/js/bootstrap-select.min.js"></script>
<script src="/static/plumber/assets/js/jquery.fancybox.js"></script>
<script src="/static/plumber/assets/js/isotope.js"></script>
<script src="/static/plumber/assets/js/owl.js"></script>
<script src="/static/plumber/assets/js/appear.js"></script>
<script src="/static/plumber/assets/js/wow.js"></script>
<script src="/static/plumber/assets/js/lazyload.js"></script>
<script src="/static/plumber/assets/js/scrollbar.js"></script>
<script src="/static/plumber/assets/js/TweenMax.min.js"></script>
<script src="/static/plumber/assets/js/swiper.min.js"></script>

<script src="/static/plumber/assets/js/script.js"></script>

<script src="/static/plumber/assets/js/date.js"></script>


</body>

</html>













